#======== File I/O ===============

InputBitDepth                 : 8           # Input bitdepth

FrameRate                     : 60          # Frame Rate per second

FrameSkip                     : 0           # Number of frames to be skipped in input

SourceWidth                    : 832
SourceHeight                   : 448
InputFile                     : ../../origCfP/cropped/BQMall_832x448.yuv
