#======== File I/O ===============

InputBitDepth                 : 8           # Input bitdepth

FrameRate                     : 60          # Frame Rate per second

FrameSkip                     : 0           # Number of frames to be skipped in input

SourceWidth                    : 1280
SourceHeight                   : 704
InputFile                     : ../../origCfP/cropped/vidyo3_1280x704.yuv
